@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext);


//Profile Styles

body {
	padding: 40px 0;

	.page-3vot {
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.appstore-3vot {
		.appstore-nav-3vot {
			background-color: #fff;
		}
		.appstore-nav-affix {
			width: 63%;
			z-index: 1;
			top: 51px;
		}
		.appstore-apps-3vot {
			padding: 20px;
			.appstore-app {
				margin: 20px 10px;
				background-color: #fff;
				padding: 10px;
				width: 45%;
				display: inline-block;
				box-shadow: 0 1px 2px rgba(0,0,0,.2);
			}
		}
	}

	.navbar-3vot {
		// height: 40px;
		.input-glyph {
			position: relative;
			margin-left: -19px;
			left: -15px;
			top: 1px;
		}	
	}

	.profile-3vot {
		.profile-header-3vot {

		}
		.profile-sidebar-3vot {
			padding-bottom: @padding-large-vertical;
			&.appstore-sidebar-affix {
			
			}
		}
		.divider {border: 1px solid @gray-light;}
	}

	.blur {
		-webkit-filter: blur(2px); 
		-moz-filter: blur(2px);
		-o-filter: blur(2px); 
		-ms-filter: blur(2px); 
	}

}