@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext);


//Profile Styles

body {
	padding-top: 40px;

	.appstore-3vot {
		.appstore-nav-3vot {
			background-color: #fff;
		}
	}

	.navbar-3vot {
		height: 40px;	
	}

	.profile-3vot {
		.profile-header-3vot {

		}
		.profile-sidebar-3vot {
			background-color: #fff;
			padding-bottom: @padding-large-vertical;
		}
		.divider {border: 1px solid @gray-light;}
	}

}