@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext);


//Profile Styles

body {
	padding: 40px 0;

	.appstore-3vot {
		.appstore-nav-3vot {
			background-color: #fff;
		}
		.appstore-apps-3vot {
			padding: 20px;
			.appstore-app {
				margin: 20px 10px;
				background-color: #fff;
				padding: 10px;
				width: 45%;
				display: inline-block;
				box-shadow: 0 1px 2px rgba(0,0,0,.2);
			}
		}
	}

	.navbar-3vot {
		// height: 40px;	
	}

	.profile-3vot {
		.profile-header-3vot {

		}
		.profile-sidebar-3vot {
			background-color: #fff;
			padding-bottom: @padding-large-vertical;
		}
		.divider {border: 1px solid @gray-light;}
	}

	.blur {
		-webkit-filter: blur(3px); -moz-filter: blur(3px);
		-o-filter: blur(3px); -ms-filter: blur(3px); 
		filter: url(#blur); filter: blur(3px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
		-webkit-transition: .9s -webkit-filter linear;
		-moz-transition: .9s -moz-filter linear;
		-o-transition: .9s -o-filter linear;
		transition: .9s filter linear;
	}

}